<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <div *ngIf="usuario">
        <h1 class="display-2 text-white">Hello {{usuario.nome | titlecase}}</h1>
        <p class="text-white mt-0 mb-7">Esssa é a página com as suas informações.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <div *ngIf="usuario">
              <h3>
                {{usuario.nome | titlecase}}
                <span class="font-weight-light">, 27</span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{usuario.cidade | titlecase}}, {{usuario.uf | uppercase}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha conta</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!--<form>-->
            <h6 class="heading-small text-muted mb-4">Informações do Usuário</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Nome</label>
                    <input class="form-control" id="name" placeholder="Nome" [(ngModel)]="usuario.nome" >
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">E-mail</label>
                    <input id="email" class="form-control" placeholder="E-mail" [(ngModel)]="usuario.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Documento</label>
                    <input type="number" id="documento" class="form-control" placeholder="Documento" [(ngModel)]="usuario.documento">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Data de Nascimento</label>
                    <input type="text" id="data-nascimento" class="form-control" placeholder="Data de Nascimento" [(ngModel)]="usuario.dataNascimento">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nacionalidade</label>
                    <input type="text" id="nacionalidade" class="form-control" placeholder="Nacionalidade" [(ngModel)]="usuario.nacionalidade">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Telefone</label>
                    <input type="text" id="telefone" class="form-control" placeholder="Telefone" [(ngModel)]="usuario.nome">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações de Endereço</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Endereço</label>
                    <input id="Endereco" class="form-control" placeholder="Endereço" [(ngModel)]="usuario.endereco" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Número</label>
                    <input type="number" id="numero" class="form-control" placeholder="Número" [(ngModel)]="usuario.numero">
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label">Complemento</label>
                    <input type="text" id="complemento" class="form-control" placeholder="Complemento" [(ngModel)]="usuario.complememto">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label">CEP</label>
                    <input type="number" id="cep" class="form-control" placeholder="cep" [(ngModel)]="usuario.cep">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label">UF</label>
                    <input type="text" id="uf" class="form-control" placeholder="UF" [(ngModel)]="usuario.uf">
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label">Cidade</label>
                    <input type="text" id="cidade" class="form-control" placeholder="Cidade" [(ngModel)]="usuario.cidade">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label">Bairro</label>
                    <input type="text" id="bairro" class="form-control" placeholder="Bairro" [(ngModel)]="usuario.bairro">
                  </div>
                </div>
              </div>
            </div>
          <!--</form>-->
        </div>
      </div>
    </div>
  </div>
</div>
